@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SignalR Chat</title>
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/css/stylesheet.css")" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans Condensed:300italic,300,700" rel="stylesheet" type="text/css">
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.0.3.min.js"></script>
    <script src="/signalr/hubs"></script>
</head>
<body>
    <section>
        @*<div class="ava" style="display: none; position: fixed; left: 10px; top:10px;">
            @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <input type="file" name="file" />
                <input type="submit" value="ok" />
            }
        </div>*@

        <div class="homesection">
            <div class="node">
                <img src="@Url.Content("~/Content/img/signalrlogo.png")" alt="signalrlogo" id="signalrlogo" />
                <h2 id="chat">powered web chat</h2>
            </div>
            <a title="Create" href="#" id="create">
                <div id="createbutton">
                    <div id="little">Enter in</div>
                    <div id="big">CHAT ROOM!</div>
                </div>
            </a>
        </div>

        <div class="connected">
            <img src="@Url.Content("~/Content/img/unnamed.jpg")" id="creatorImage" />
            <div class="infoConnected">
                <h2>Who are you?</h2>
                <br />
                <form id="enterForm">
                    <input type="text" id="yourName" placeholder="Your name" autofocus="autofocus" required="required" /><br />
                    <input type="email" id="yourEmail" placeholder="Your email" required="required" class="hide" /><br />
                    <input type="password" id="yourPass" placeholder="Your password" required="required" /><br />
                    <input type="submit" id="yourEnter" value="ENTER" />
                    <div style="float: left; padding-left: 20px;">or <a id="signUpShow" class="logon" href="#">sign up</a></div>
                </form>
            </div>
        </div>

        <div class="chatscreen">
            <ul class="chats">
                <!-- The chat messages will go here -->
            </ul>
        </div>
    </section>
    <footer>
        <form id="chatform">
            <textarea id="message" placeholder="Write something.." autofocus="autofocus"></textarea>
            <input type="submit" id="submit" value="SEND" />
        </form>
    </footer>

    <script>
        $(function () {
            //1 - hide 'welcome' and show login form
            $('#create').on("click", function () {
                $(this).hide();
                $('.connected').fadeIn(1000);
            });

            //2 - show singupForm or logonForm 
            $('#signUpShow').on("click", function() {
                if ($(this).hasClass("logon")) {
                    $(this).text("enter");
                    $(this).removeClass("logon");
                    $(this).addClass("singup");
                    $('#yourEnter').val("SING UP");
                    $('#yourEmail').fadeIn();
                    $('#yourEmail').removeClass("hide");
                }
                else {
                    $(this).text("sing up");
                    $(this).removeClass("singup");
                    $(this).addClass("logon");
                    $('#yourEnter').val("ENTER");
                    $('#yourEmail').hide();
                    $('#yourEmail').addClass("hide");
                }
            });
            
            //3 - hide enterForm and show chat
            $("#enterForm").submit(function (e) {
                e.preventDefault();
                saveUser();
                $('.connected, .homesection').hide();
                $('#chatform').parent().show(1000);
                $('.chatscreen').show();


                // Start the connection.
                $.connection.hub.start().done(function () {
                    var myName = localStorage.getItem("name");
                    var myPass = localStorage.getItem("pass");
                    chat.server.setOnline(myName, myPass);

                    $("#message").keypress(function (event) {
                        // Submit the form on enter
                        if (event.which == 13) {
                            event.preventDefault();
                            $("#chatform").trigger('submit');
                        }
                    });

                    $("#chatform").submit(function (event) {
                        event.preventDefault();
                        chat.server.send(myName, $('#message').val());
                        $('#message').val('').focus();
                    });
                });
            });

            // help functions

            function scrollToBottom() {
                $("html, body").animate({ scrollTop: $(document).height() - $(window).height() }, 1000);
            }

            function getCurrentTime() {
                var d = new Date();
                var time = d.getHours() + ":" + d.getMinutes();
                return time;
            }

            function saveUser() {
                localStorage.setItem("name", $("#yourName").val());
                localStorage.setItem("pass", $("#yourPass").val());
            }

            // end help functions


            // Declare a proxy to reference the hub.
            var chat = $.connection.chatHub;

            // Create a function that the hub can call to broadcast messages.
            chat.client.broadcastMessage = function (name, message) {
                var msgStyle;
                if (name == localStorage.getItem("name")) {
                    msgStyle = 'me';
                    name = 'Вы';
                }
                else
                    msgStyle = 'you';

                $('.chats').append('<li class="' + msgStyle + '">' +
                    '<div class="image"><img width="140" height="140" src="@Url.Content("~/Content/uploads/e4930e51901c4ef69cbfaf38e198756c.png")"><b>' + name + '</b>' +
                    '<i class="timesent">' + getCurrentTime() + '</i> </div><p>' + message + '</p></li>');

                scrollToBottom();
            };
        })
    </script>
</body>
</html>
