
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create a new chat room!</title>
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/css/stylesheet.css")" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans Condensed:300italic,300,700" rel="stylesheet" type="text/css">
</head>
<body>
    <section>
        <div class="homesection">
            <div class="signalr">
                <img src="@Url.Content("~/Content/img/signalrlogo.png")" alt="signalrlogo" id="signalrlogo" />
                <h2 id="chat">powered web chat</h2>
            </div>
            <a title="Create" id="create">
                <div id="createbutton">
                    <div id="little">Create a Private</div>
                    <div id="big">CHAT ROOM!</div>
                </div>
            </a>
            
            <div class="connected">
                <img src="@Url.Content("~/Content/img/unnamed.jpg")" id="creatorImage" />
                <div class="infoConnected">
                    <h2>Who are you?</h2>
                    <br />
                    <form class="loginForm">
                        <input type="text" id="yourName" placeholder="Your nick name" /><br />
                        <input type="text" id="yourEmail" placeholder="Your email address" /><br />
                        <input type="submit" id="yourEnter" value="ENTER" />
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
